@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

:root {
    --color-borde-elemento: rgb(205, 205, 205);
    --color-fondo-elemento: rgb(57, 57, 57);
}

/* <uniquifier>: Use a unique and descriptive class name
<weight>: Use a value from 400 to 700 */

.dancing-script-700 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

.dancing-script-400 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

header {
    position: relative;
    height: 50vh;
    background-image: url("../img/portada_cine_v2.jpg");
    background-size: cover;
    background-position-x: center;
    background-position-y: center;
}

h1 {
    position: absolute;
    right: 10px;
    bottom: 10px;
    color: white;
    font-size: 5em;
    margin: 0;
    text-shadow: 3px 3px 4px #000000;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
}

nav {
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    z-index: 1000;
    background-color: var(--color-fondo-elemento);
}

nav a:focus {
    background-color: #6656bc;
}

nav a {
    width: calc(100% / 5);
    text-align: center;
    padding: 15px;
    text-decoration: none;
    font-family: arial;
    color: rgb(221, 247, 198);
    background-color: var(--color-fondo-elemento);
    transition-duration: .5s;
    font-family: "Dancing Script", cursive;
    font-size: 1.9em;
}

nav a:hover {
    background-color: #6656bc;
    color: white;
}

#buscador {
    margin: 0;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 350px;
    height: 60px;
    line-height: 60px;
    background-color: rgba(75, 75, 75, .6);
    text-align: center;
    border: 3px solid rgb(150, 150, 150);
    border-radius: 20px;
    transition-duration: .5s;
}

#buscador label {
    color: #ffffff;
}

#buscador input {
    width: 250px;
    padding: 8px;
    background-color: rgba(255, 255, 255, .5);
    border-radius: 10px;
}

footer {
    background-color: var(--color-fondo-elemento);
    color: #eeeeee;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}